asgiref==3.8.1
cffi==1.17.1
Django==5.1.5
djangorestframework==3.15.2
maturin==1.8.1
psycopg2==2.9.10
pycparser==2.22
python-decouple==3.8
sqlparse==0.5.3
-e git+https://github.com/software-trizzey/unremark.git@773ac28dba5d601dec49a9edd1b4411e42eaeee2#egg=unremark
